/* setting the margin on left of input in header to round */

#search_input_header1 {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: white;
    border-right: 2px solid white;
}

#search_input_header2 {
    border-top-right-radius: 90%;
    border-bottom-right-radius: 90%;
    background-color: white;
    border-left: 2px solid white;
}

#search_input_header {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

#badge {
    max-width: 40px;
    max-height: 30px;
    border-radius: 50%;
}

.link {
    text-decoration-line: none;
    color: black;
    line-height: 2.0rem;
    font-size: large;
    font-weight: 400;
}

#shortlink {
    margin-right: 10px;
    font-weight: bold;
}

#inmindcard {
    border-bottom: 1px solid rgb(194, 189, 189);
}